# Vivado simulation files
*.jou
*.log
*.pb
*.backup.log
webtalk_*
xelab.log
xsim.dir/
xvlog.log
*.wdb

# VCD files 
 *.vcd

# Vivado project files
*.xpr
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# VS Code settings 
.vscode/settings.json

# OS files
.DS_Store
Thumbs.db
